body {
    background-image: linear-gradient(0.9turn, #3f87a6, #ebf8e1, #f69d3c);
    background-repeat: no-repeat;
    margin: 0px;
    font-family: 'Calibri';
}

.container {
    display: flex;
    flex-direction: column;
}

.drawarea {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.curveseditor {
    display: flex;
    flex-direction: column;
    
}

.title, .selection, .aval {
    text-align: center;
    justify-content: center;
}

.aval {
    margin: 1rem;
}

.nAval {
    width: 50px;
    margin-left: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
}

canvas {
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: inset 0px 0px 10px rgba(253,253,255,0.5);
    background: #FFFFFF;
    border: 2px solid black;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    
}
